<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanity Suite">
<listeners>
 <listener class-name="org.uncommons.reportng.HTMLReporter" />
  <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.jivaUAT2.testcases.CCM_UTCLetterGeneration_TC"/>
      <class name="com.jivaUAT2.testcases.CCM_MemberOptOutLetterGeneration_TC"/>
      <class name="com.jivaUAT2.testcases.CCM_PostEnrollmentLetterGeneration_TC"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
