<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanity Suite">
<!-- <parameter name="linenumber" value="2"></parameter>
 --><listeners>
 <listener class-name="org.uncommons.reportng.HTMLReporter" />
  <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
</listeners>
  <test name="Line 1">
<parameter name="linenumber" value="1"></parameter>
    <classes>
      <class name="com.jivaUAT2.testcases.Flow1"/>
    </classes>
  </test> <!-- Test -->
  <test name="Line 2">
<parameter name="linenumber" value="2"></parameter>
    <classes>
      <class name="com.jivaUAT2.testcases.Flow1"/>
    </classes>
  </test>
</suite> <!-- Suite -->
